<form action ='/create' method='post' id='createform'>

  <p>I will <input class="task" type="text" placeholder="e.g. make coffee or run a race" name= "taskToComplete">
  if you will donate <span class="input-prepend input-append">
    <span class="add-on">&pound;</span>
    <input class="span2" id="appendedPrependedInput" type="text" name="cashValue">
    <span class="add-on">.00</span>
  </span> <br/>to charity
  <span class="input-append">	</span>
  <input type="text" class="span2 search-query" placeholder="e.g. Oxfam" name="charityname" id="charityname">
  <input type="hidden" name="charityID" id="charityID">
  <br /><input type="submit" value="submit" class="btn btn-primary">
</form>

<script>
  $(document).ready(function() {

    $(  "#charityname"  ).autocomplete({
      dataType: "json",
      source: function(request, response) {
        $.getJSON("https://www.thegivinglab.org/api/charities/" + $("#charityname").val() + "?apikey=0b9fe55d-1c71-4b02-90c9-4fa670230c61&callback=?",function(data){
          var array = new Array();
          for(var i=0;i<data.length;i++) {
            array[array.length] = { data: data[i].CharityID, value: data[i].CharityName, result: data[i].CharityName };

          }
          response(array);
        });
      },
      select: function(event, ui) {
		$("#charityID").val(ui.item.data);
		} 
      

    });
  });

</script>
